
/*======[[1.$LAYOUTS]]======*/
body {
  margin: 0;
}

header, main, footer, #nav-bar ul {
  display: flex;
  width: 100%;
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
}



#nav-bar {
  display: flex;
  align-items: center;
  flex-grow: 2;
}

section {
  padding-top: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*======[[2.$BASES]]======*/

header, main, #nav-bar ul {
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  text-shadow: 0px 0px 2px #26F06A, 0px 0px 2px #26F06A, 0px 0px 2px #26F06A, 0px 0px 2px #26F06A;
}

li {
  list-style-type: none;
}

h1 {
  margin: 70px 0 60px 0;
}

/*======[[3.$HEADER]]======*/

header {
  height: 10rem;
  position: fixed;
  z-index: 100;
  background-color: #000000;
  border: 2px solid #000000;
}

header a {
  display: flex;
  height: 100%;
  align-items: center;
}

#header-img {
  max-height: 160px;
}

/*======[[3.2 $NAVIGATION]]======*/

#nav-bar ul {
  align-items: center;
  justify-content: flex-end;
  padding: 0 50px 0 50px;
  height: 100%;
}

#nav-bar li {
  font-family: 'Prosto One', cursive;
  font-size: 2rem;
  font-weight: 700;
  padding: 0 15px 0 15px;
  display: flex;
  align-items: center;
  height: 100%;
}

/*======[[4.$MAIN]]======*/

main {
  background-color: #000000;
  flex-direction: column;
  align-items: center;
}

#welcome > div {
  position: relative;
  width: 600px;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Bungee Inline', cursive;
  color: #000000;
  text-shadow: 0px 0px 2px #26F06A, 0px 0px 2px #26F06A, 0px 0px 2px #26F06A, 0px 0px 2px #26F06A;
  font-size: 1.5rem;
  text-align: center;
}

h1 > span {
  font-size: 3.5rem;
}

#welcome p {
  position: absolute;
  font-family: 'Mr Dafoe', cursive;
  font-weight: 400;
  font-size: 1rem;
  top: 150px;
  left: 460px;
  color: #000000;
  text-shadow: 0px 0px 5px #26F06A, 0px 0px 5px #26F06A, 0px 0px 5px #26F06A, 0px 0px 5px #26F06A;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form > div {
  padding: 5px;
  margin-bottom: 10px;
}

#email {
  border: 5px double #000000;
  padding: 10px;
  width: 200px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
}

#submit {
  border: 5px double #000000;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
  background-color: #FFFFFF;
  color: #000000;
  box-shadow: 0px 0px 10px #26F06A, 0px 0px 10px #26F06A, 0px 0px 10px #26F06A, 0px 0px 10px #26F06A;
}

#fonctionnalite > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#fonctionnalite > div > div {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 10px;
}

#fonctionnalite img {
  max-width: 100px;
  margin: auto;
}

.fonction-texte {
  width: 500px;
}

.fonction-img {
  width: 300px;
}

h3 {
  font-size: 1.5rem;
}

h4{
  font-size: 1.4rem;
  margin: 15px 0 5px 0;
}

#fonctionnalite > div:first-child .fonction-texte, #fonctionnalite > div:last-child .fonction-texte {
  order: 2;
}

#fonctionnalite > div:first-child .fonction-img, #fonctionnalite > div:last-child .fonction-img {
  order: 1;
}

#demonstration {
  padding-top: 250px;
}

#demonstration iframe {
  box-shadow: 10px 10px 50px #26F06A, -10px -10px 50px #26F06A, -10px 10px 50px #26F06A, 10px -10px 50px #26F06A;
}

#prix {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.choix, .titre, .corps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choix {
  margin: 10px 10px 100px 10px;
  border: 5px solid #FFFFFFFF;
  width: 215px;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #26F06A, 0px 0px 10px #26F06A, 0px 0px 10px #26F06A, 0px 0px 10px #26F06A;
}

.titre {
  background-color: #FFFFFF;
  color: #000000;
  width: 100%;
}

.corps {

}

button {
  border: 5px double #000000;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
  margin-bottom: 20px;
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
  box-shadow: 0px 0px 5px #26F06A, 0px 0px 5px #26F06A, 0px 0px 5px #26F06A, 0px 0px 5px #26F06A;
}

#prix ul {
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: #000000;
}

.block-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width:680px;
  background-color: #FFFFFF;
  margin: auto;
  padding: 20px;
}

.block-footer ul {
  display: flex;
  margin-bottom: 0;
}

.block-footer li {
  margin: 5px;
}

.block-footer a {
  color: #000000;
  text-shadow: 0px 0px 0px #26F06A, 0px 0px 0px #26F06A, 0px 0px 0px #26F06A, 0px 0px 0px #26F06A;#
}

@media screen and (max-width 1200) {

}
