/*==========[[$LAYOUT]]===========*/

section, #main, #img-div, #tribute-info ul {
  display: flex;
  flex-direction: column;
}

section, #main, #img-div {
  align-items: center;
}

section {
  width: 100%;
}

/*==========[[$POLICES]]===========*/

p, h3 {
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  text-align: center;
}

p {
  background-color: rgba(0, 0, 0, 0.1);
}

h3 {
  background-color: #E5AB70;
}

#tribute-info  li {
  color: #000000;
}

#tribute-link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
}

#tribute-info ul {
  align-items: baseline;
}

/*==========[[$MAIN]]===========*/

#main {
  background-color: #FFBE7D;
  width: auto;
  padding: 10px 15px 10px 15px;
  margin: 20px;
  border-radius: 10px;
  color: #FFFFFF;
}

#title {
  text-align: center;
  vertical-align: middle;
}

#img-div {
  background-color: #FFFFFF;
  padding: 20px 20px 0 20px;
}

#image {
  margin: auto;
  max-width: 100%;
  height: auto;
}

#img-caption {
  background-color: #FFFFFF;
  color: #000000;
}

#tribute-info > div {
  background-color: #FFFFFF;
  width: 95%;
  padding: 20px;
}
