/* main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 50px 25px 50px;
  background-color: #4089E0;
  color: #FFFFFF;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
}

hr {
  margin: 10px 0 10px 0;
  width: 50%;
  color: #FFFFFF;
}

h1, p, option, label, legend {
  font-family: 'Nunito', sans-serif;
}

p, option, label {
  font-size: 16px;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 75px 0 75px;
}

fieldset {
  border-color: #FFFFFF;
  border-style: double;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

fieldset > div {
  display: flex;
  justify-content: center;
}

#conclusions > div, #indiscretions > div {
  flex-direction: column;
}

fieldset > div > div {
  display: flex;
  justify-content: space-between;
}

#div-dropdown {
  flex-direction: row!important;
}

.div-label, .div-input {
  width: 50%;
}

.div-input {} */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #053671;
  color: #FFFFFFFF;
  font-family: 'Nunito', sans-serif;
  margin: 20px;
  border-radius: 20px;
  padding: 20px 25px 20px 25px;
}

#description, h1 {
  text-align: center;
}

h1 {
  font-size: 2.6em;
  font-weight: 700;
}

#description {
  font-size: 1.3em;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
}

.div-fieldset {
  display: flex;
  flex-direction: column;
}

hr {
  width: 50%;
  display: inline-block;
  border-style: double;
  background-color: #FFFFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
}

#commentaire {
  width: 100%;
}
